<!--
  Generated template for the AnauserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-toolbar>
        <ion-buttons start>
              <button (click)="send()" ion-button>Send Message<ion-icon name="send"></ion-icon></button>
          </ion-buttons>
        <ion-title>{{ user.name }}</ion-title>
        <ion-buttons end>
            <button (click)="done()" ion-button>Done</button>
        </ion-buttons>
      </ion-toolbar>
    </ion-navbar>
  
</ion-header>



<ion-content padding>
  <div *ngIf="history">
    <div *ngIf="history.length < 1">
        <h1 class="nohistory">No history available</h1>
    </div>
    <ion-list no-border no-lines *ngFor="let pass of user.history">
      <ion-list-header>
        <span *ngIf="pass.name == 'Free'">Free Pass</span>
        <span *ngIf="pass.name != 'Free'">Pass {{ pass.name }}</span>

        <ion-badge (click)="removePass(pass.timestamp)" *ngIf="isAdmin" item-end>Remove Pass</ion-badge>
      </ion-list-header>
      <ion-item>
        Destination
        <ion-note item-end>
          {{ pass.destination }}
        </ion-note>
      </ion-item>
  
      <ion-item>
        Teacher
        <ion-note item-end>
          {{ pass.teacher }}
        </ion-note>
      </ion-item>
  
      <ion-item>
        Timestamp
        <ion-note item-end>
          {{ tts(pass.timestamp) }}
        </ion-note>
      </ion-item>
  
      <ion-item>
        Minutes
        <ion-note item-end>
          {{ pass.minutes }}
        </ion-note>
      </ion-item>
      
      <ion-item>
        End Time
        <ion-note *ngIf="pass.timestamp_end" item-end>
          {{ tts(pass.timestamp_end) }}
        </ion-note>
        <ion-note *ngIf="!pass.timestamp_end" item-end>
          Pass in duration.
        </ion-note>
      </ion-item>

      <ion-item>
          Total Time
          <ion-note item-end>
            {{ totalTime(pass.timestamp, pass.minutes, pass.timestamp_end) }}
          </ion-note>
        </ion-item>
    </ion-list>
  </div>
</ion-content>
