page-home {

    ion-content {
        background-image: url("../assets/bg-old.png");
        background-size: cover;
        background-position: center;
    }
    .signinbutton {
        margin: auto;
        width: 70%;
        object-fit: contain;
        display: block;
        margin-top: 5%;
    }
    .microsoft {
        text-align: center;
        color: $primary;
        background-color: white;
        padding: 10px;
        border-radius: 100px;
        font-weight: bold;

        border: 5px solid $primary; 
    }

    .middle {
        position: static;
        margin: auto;
        background-color: white;
        box-shadow: 0px 0px 20px #555555;
        padding: 10px;
        border-radius: 10px;

        width: 40%;
        height: 50%;
        margin-top: 25vh;

        opacity: 0.95;

        * {
            text-align: center;
        }

        h1 {
            font-size: 5em;
            margin-bottom: 10%;
            color: $primary;
        }

    }

    @media screen and (max-width: 768px) {
        .middle {
            width: 90%;
        }
    }
}
