<!--
  Generated template for the NowStudentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-menu type="overlay" [content]="content" id="teacher">

    <ion-header>
        <ion-toolbar color="primary">
        <ion-title>Digitr v{{ local_version }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list no-border>
            <button ion-item menuClose="teacher" detail-none (click)="currentPage = 'now'">
                <ion-icon item-start name="stats"></ion-icon>
                Now
            </button>
            <button ion-item menuClose="teacher" detail-none (click)="currentPage = 'usepass'">
                <ion-icon item-start name="compass"></ion-icon>
                Use Pass
            </button>
            <button ion-item menuClose="teacher" detail-none (click)="currentPage = 'history'">
                <ion-icon item-start name="time"></ion-icon>
                History
            </button>
            <button ion-item menuClose="teacher" detail-none (click)="currentPage = 'messages'">
                <ion-icon item-start name="send"></ion-icon>
                Messages
            </button>
            <a target="_new" href="https://mpassapp.com/pdf-user-guides">
              <button ion-item menuClose="teacher" detail-none>
                <ion-icon item-start name="help-circle"></ion-icon>
                Help
              </button>
            </a>
            <button ion-item detail-none (click)="this.a.signout()">
                <ion-icon item-start name="log-out"></ion-icon>
                Sign Out
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>

<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Digitr | {{ getCurrentPage() }}</ion-title>
        <ion-buttons start>
          <button ion-button icon-only (click)="openMenu()" id="menu">
            <ion-icon name="menu" ></ion-icon>
          </button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <div [hidden]="currentPage != 'now'" class="top">
      <div id="passCircle" class="progress"></div>
      <h1 class="stat"><b>{{ passesRemaining }}</b> passes left</h1>
  </div>
  <div *ngIf="currentPage =='history'">
      <div *ngIf="history.length < 1">
        <h1 class="nohistory">No history available</h1>
      </div>
      <ion-list no-border no-lines *ngFor="let pass of history">
        <ion-list-header>
          <span *ngIf="pass.name == 'Free'">Free Pass</span>
          <span *ngIf="pass.name != 'Free'">Pass {{ pass.name }}</span>
        </ion-list-header>
        <ion-item>
          Destination
          <ion-note item-end>
            {{ pass.destination }}
          </ion-note>
        </ion-item>
    
        <ion-item>
          Teacher
          <ion-note item-end>
            {{ pass.teacher }}
          </ion-note>
        </ion-item>
    
        <ion-item>
          Timestamp
          <ion-note item-end>
            {{ tts(pass.timestamp) }}
          </ion-note>
        </ion-item>
    
        <ion-item>
          Minutes
          <ion-note item-end>
            {{ pass.minutes }}
          </ion-note>
        </ion-item>
        
        <ion-item>
          End Time
          <ion-note *ngIf="pass.timestamp_end" item-end>
            {{ tts(pass.timestamp_end) }}
          </ion-note>
          <ion-note *ngIf="!pass.timestamp_end" item-end>
            Pass in duration.
          </ion-note>
        </ion-item>

        <ion-item>
            Total Time
            <ion-note item-end>
              {{ totalTime(pass.timestamp, pass.minutes, pass.timestamp_end) }}
            </ion-note>
          </ion-item>
      </ion-list>
  </div>
  <div *ngIf="currentPage == 'usepass'">
      <br>
      <ion-list radio-group [(ngModel)]="dest">
        <ion-list-header>
          Destination
        </ion-list-header>
        <ion-item>
          <ion-label>Restroom</ion-label>
          <ion-radio value="Restroom"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Media Center</ion-label>
          <ion-radio value="Media Center"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Locker</ion-label>
          <ion-radio value="Locker"></ion-radio>
        </ion-item>
        
        <ion-item *ngFor="let destination of districtInfo.destinations">
          <ion-label>{{ destination }}</ion-label>
          <ion-radio value="{{ destination }}"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          Teacher
        </ion-list-header>
        <ion-item>
          {{ teacher }}
          <ion-note item-end>
            <button small outline ion-button (click)="pickTeacher()">Pick Teacher</button>
          </ion-note>
        </ion-item>
      </ion-list>
      <button *ngIf="!teacher" full disabled ion-button large>Request Pass</button>
      <button *ngIf="teacher" full ion-button large (click)="usepass()">Request Pass</button>
  </div>
  <div *ngIf="currentPage == 'messages' && user">
      <div *ngIf="user.messages.length < 1">
        <h1 class="nohistory">No messages</h1>
      </div>
      <ion-list *ngFor="let message of user.messages" [ngSwitch]="message.type">
        <ion-list-header>{{ message.user }}</ion-list-header>
        <ion-item text-wrap *ngSwitchCase="'pass_approved'">
          <b>{{ message.title }}: </b>{{ message.subTitle }}
          <ion-note item-end color="dark"><button ion-button small (click)="viewTimer(message)">View Timer</button></ion-note>
          <ion-note item-end><button ion-button small (click)="back(message.timestamp, message.email, message.timestamp)">I'm back</button></ion-note>
          <!-- <ion-note item-end><button ion-button small (click)="dismiss(message.timestamp)">Dismiss</button></ion-note> -->
        </ion-item>
        <ion-item text-wrap *ngSwitchCase="'pass_rejected'">
          <b>{{ message.title }}: </b>{{ message.subTitle }}
          <ion-note item-end><button ion-button small (click)="dismiss(message.timestamp)">Dismiss</button></ion-note>
        </ion-item>
        <ion-item text-wrap *ngSwitchCase="'pass_done'">
          <b>{{ message.title }}: </b>{{ message.subTitle }}
          <ion-note item-end><button ion-button small (click)="back(message.pass_time, message.email, message.timestamp)">I'm back</button></ion-note>
          <!-- <ion-note item-end><button ion-button small (click)="dismiss(message.timestamp)">Dismiss</button></ion-note> -->
        </ion-item>
        <ion-item text-wrap *ngSwitchDefault>
          <b>{{ message.title }}: </b>{{ message.subTitle }}
          <ion-note item-end><button ion-button small (click)="dismiss(message.timestamp)">Dismiss</button></ion-note>
        </ion-item>
      </ion-list>
  </div>
</ion-content>

<div *ngIf="currentPage == 'messages'">
  <ion-footer>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button (click)="clearMessages()">Clear all messages</button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>
