<!--
  Generated template for the NowTeachersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-menu type="overlay" [content]="content" id="teacher">
  
    <ion-header>
        <ion-toolbar color="primary">
        <ion-title>Digitr v{{ local_version }}</ion-title> 
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list no-border>
            <button ion-item menuClose="teacher" *ngIf="currentPage == messages" detail-none (click)="currentPage = 'messages'" color="primary">
                <ion-icon color="primary" item-start name="send"></ion-icon>
                Messages
            </button>
            <button ion-item menuClose="teacher" *ngIf="currentPage != messages" detail-none (click)="currentPage = 'messages'" >
                <ion-icon item-start name="send"></ion-icon>
                Messages
            </button>
            <button ion-item menuClose="teacher" detail-none (click)="currentPage = 'analytics'">
                <ion-icon item-start name="analytics"></ion-icon>
                Analytics
            </button>
            <button *ngIf="isAdmin" ion-item menuClose="teacher" detail-none (click)="currentPage = 'admin'">
                <ion-icon item-start name="people"></ion-icon>
                Admin
            </button>
            <a target="_new" href="https://mpassapp.com">
              <button ion-item menuClose="teacher" detail-none>
                <ion-icon item-start name="help-circle"></ion-icon>
                Help
              </button>
            </a>
            <a target="_new" href="mailto:info@mpassapp.com">
              <button ion-item menuClose="teacher" detail-none>
                <ion-icon item-start name="mail"></ion-icon>
                Send Feedback
              </button>
            </a>
            <button ion-item detail-none (click)="this.a.signout()">
                <ion-icon item-start name="log-out"></ion-icon>
                Sign Out
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>

<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Digitr | {{ getCurrentPage() }}</ion-title>
      <ion-buttons start> 
        <button ion-button icon-only (click)="openMenu()" id="menu">
          <ion-icon name="menu" ></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="currentPage == 'messages' && user">
    <div *ngIf="user.messages.length < 1">
      <h1 class="nohistory">No messages</h1>
    </div>
    <ion-list *ngFor="let message of user.messages" [ngSwitch]="message.type">
      <ion-list-header>{{ message.user }}</ion-list-header>
      <ion-item text-wrap *ngSwitchCase="'pass_request'">
        <b>{{ message.title }}: </b>{{ message.subTitle }}
        <ion-note item-end color="dark"></ion-note>
        <ion-note item-end>
          <button icon-end ion-button small color="secondary" (click)="approve(message.timestamp)">
            Approve
            <ion-icon name="checkmark-circle"></ion-icon>
          </button>
        </ion-note>
        <ion-note item-end>
          <button icon-end ion-button small color="danger" (click)="deny(message.timestamp, message.email)">
            Deny
            <ion-icon name="remove-circle"></ion-icon>
          </button>
        </ion-note>
      </ion-item>
      <ion-item text-wrap *ngSwitchCase="pass_done">
          <b>{{ message.title }}: </b>{{ message.subTitle }}{{ playSound() }}
          <ion-note item-end><button ion-button small (click)="dismiss(message.timestamp)">Dismiss</button></ion-note>
      </ion-item>
      <ion-item text-wrap *ngSwitchDefault>
        <b>{{ message.title }}: </b>{{ message.subTitle }}
        <ion-note item-end><button ion-button small (click)="dismiss(message.timestamp)">Dismiss</button></ion-note>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="currentPage == 'analytics'">
      <ion-refresher slot="fixed" (ionRefresh)="getAnalytics($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <h1 class="nohistory" *ngIf="!analytics">Analytics is not enabled. <br> Please refer to your administrator.</h1>
      <div *ngIf="analytics">
        <div *ngIf="analyticsPage == 'stats'">
          <ion-grid>
            <ion-row>
              <div col-md-6 col-12>
                <ion-card color="dark">
                  <ion-card-header>
                    Free passes approved 
                  </ion-card-header>
                  <ion-card-content>
                      <h1>{{ stats.freePasses }}</h1>
                  </ion-card-content>
                </ion-card>
              </div>
              <div col-md-6 col-12>
                <ion-card color="primary">
                  <ion-card-header>
                    Regular passes approved 
                  </ion-card-header>
                  <ion-card-content>
                      <h1>{{ stats.regularPasses }}</h1>
                  </ion-card-content>
                </ion-card>
              </div>
              <div col-md-6 col-12>
                <ion-card color="light">
                  <ion-card-header>
                    Total number of passes approved
                  </ion-card-header>
                  <ion-card-content>
                      <h1>{{ stats.passesIssued }}</h1>
                  </ion-card-content>
                </ion-card>
              </div>
              <div col-md-6 col-12>
                <ion-card color="dark">
                  <ion-card-header>
                    Average amount of time approved
                  </ion-card-header>
                  <ion-card-content>
                      <h1>{{ stats.avgMinutes }} minutes</h1>
                  </ion-card-content>
                </ion-card>
              </div>
              <div col-md-6 col-12>
                <ion-card color="primary">
                  <ion-card-header>
                    Average time spent
                  </ion-card-header>
                  <ion-card-content>
                      <h1>{{ stats.avgInterval }}</h1>
                  </ion-card-content>
                </ion-card>
              </div>
              <div col-md-6 col-12>
                <ion-card color="light" (click)="mvptoggle()">
                    <ion-item color="light">
                        <h3 id="mvp">Student who used the most passes</h3>
                        <ion-badge item-end>+</ion-badge>
                      </ion-item>
                  <ion-card-content *ngIf="mvpenabled">
                      <h1>{{ stats.mvp }}</h1>
                  </ion-card-content>
                </ion-card>
              </div>
              <div col-md-6 col-12>
                <ion-card color="dark">
                  <ion-card-header>
                    Currently Out
                  </ion-card-header>
                  <ion-card-content>
                      <ion-list>
                        <ion-item *ngFor="let user of stats.currentlyOut" (click)="getUser(user)">{{ user }}</ion-item>
                      </ion-list>
                      <h1 *ngIf="stats.currentlyOut.length < 1">Nobody</h1>
                  </ion-card-content>
                </ion-card>
              </div>
              <div col-md-6 col-12>
                <ion-card color="primary">
                  <ion-card-header>
                    Most Used Destination
                  </ion-card-header>
                  <ion-card-content>
                      <h1>{{ stats.mud }}</h1>
                  </ion-card-content>
                </ion-card>
              </div>
              <!-- <div col-md-6 col-12 *ngIf="viewAsAdmin">
                <ion-card color="light">
                  <ion-card-header>
                    Most Valuable Teacher (teacher who approved the most passes)
                  </ion-card-header>
                  <ion-card-content>
                      <h1>{{ stats.mvt }}</h1>
                  </ion-card-content>
                </ion-card>
              </div> -->
            </ion-row>
          </ion-grid>
        </div>
        <div *ngIf="analyticsPage == 'search'">
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
            <ion-list>
              <ion-item (click)="sendToAll()" *ngIf="isAdmin"><a>Send message to all students and teachers</a></ion-item>
              <ion-item (click)="getUser(user)" *ngFor="let user of filteredStudents">{{ user }}<ion-note item-end><ion-icon  name="arrow-forward"></ion-icon></ion-note></ion-item>
            </ion-list>
        </div>
      </div>
  </div>
  <div *ngIf="currentPage == 'admin'" padding> 
    <ion-list>
      <div *ngIf="dist.analytics">
          <ion-list-header *ngIf="dist.analytics"><h1>Analytics enabled</h1></ion-list-header>
          <ion-item>{{ payment.count }} students are enrolled under this district.</ion-item>
          <ion-item *ngIf="!payment.trial_finished && payment.trial_start">You have {{ duration(payment.trial_start, 30) }} days left in your trial.</ion-item>
          <ion-item *ngIf="payment.start">You have {{ duration(payment.start, 365) }} days left until the next payment.</ion-item>
      </div>
      <div *ngIf="!dist.analytics">
          <ion-list-header *ngIf="!dist.analytics"><h1>Analytics not enabled</h1></ion-list-header>
          <ion-item>{{ payment.count }} students are enrolled under this district.</ion-item>
          <ion-item *ngIf="payment.trial_finished">Your 30 day trial has expired.</ion-item>
          <ion-item *ngIf="!payment.trial_finished" (click)="startTrial()"><a>Start 30 day trial</a></ion-item>
      </div>
      <div *ngIf="!dist.analytics || (!payment.trial_finished && payment.trial_start)">
        <ion-item>Current price to enable Analytics: ${{ payment.count / 2 }} / year. ($0.50 / user)</ion-item>
        <ion-item><a (click)="startPayment()" *ngIf="avail">Pay for Analytics via PayPal</a></ion-item>
      </div>
      <div *ngIf="payment.max_count && payment.last_payment_count">
        <ion-item text-wrap *ngIf="payment.max_count > payment.last_payment_count">The maximum number of users you had this year is 
          {{ payment.max_count }}, but last year you payed for {{ payment.last_payment_count }}. Your next purchase will include payment for the surplus of {{ payment.max_count - payment.last_payment_count }} users.</ion-item>
      </div>
    </ion-list>
    <ion-list>
      <ion-list-header>Edit number of passes allowed per student</ion-list-header> 
      <ion-item>
        <ion-input #pass type="number" value="{{ dist.pass }}"></ion-input>
        <button (click)="edit($event, 'pass', pass.value)" item-end ion-button icon-end color="primary">
          Set
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>Edit admins</ion-list-header>
      <ion-item *ngFor="let user1 of dist.admins">
        <div *ngIf="user1 != this.user.email">{{ user1 }}</div>
        <button *ngIf="user1 != this.user.email" (click)="edit($event, 'admin', user1, 'remove')" item-end ion-button icon-end color="danger">
          Remove
          <ion-icon name="remove"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <ion-input #admin type="text" placeholder="Add Admin"></ion-input>
        <button (click)="edit($event, 'admin', admin.value, 'add')" item-end ion-button icon-end color="secondary">
          Add
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>Edit schools</ion-list-header>
      <ion-item *ngFor="let school of dist.schools">
        {{ school }}
        <button (click)="edit($event, 'school', school, 'remove')" item-end ion-button icon-end color="danger">
          Remove
          <ion-icon name="remove"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <ion-input #school type="text" placeholder="Add School"></ion-input>
        <button (click)="edit($event, 'school', school.value, 'add')" item-end ion-button icon-end color="secondary">
          Add
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>Edit domains</ion-list-header>
      <ion-item *ngFor="let domain of dist.domains">
        {{ domain }}
        <button (click)="edit($event, 'domain', domain, 'remove')" item-end ion-button icon-end color="danger">
          Remove
          <ion-icon name="remove"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <ion-input #domain type="text" placeholder="Add Domain"></ion-input>
        <button (click)="edit($event, 'domain', domain.value, 'add')" item-end ion-button icon-end color="secondary">
          Add
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>Edit destinations</ion-list-header>
      <ion-item *ngFor="let dest of dist.destinations">
        {{ dest }}
        <button (click)="edit($event, 'dest', dest, 'remove')" item-end ion-button icon-end color="danger">
          Remove
          <ion-icon name="remove"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <ion-input #dest type="text" placeholder="Add Destination"></ion-input>
        <button (click)="edit($event, 'dest', dest.value, 'add')" item-end ion-button icon-end color="secondary">
          Add
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>Legacy Mode</ion-list-header>
      <ion-item>
        <ion-label>Turn on Legacy Mode: Students can approve passes without teacher consent.</ion-label>
        <ion-toggle #legacy [checked]="dist.legacy" (click)="edit($event, 'legacy', legacy.checked)"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>Teacher Sign Up</ion-list-header>
      <ion-item>
        <ion-label>Disable new teachers from signing in.</ion-label>
        <ion-toggle #legacy *ngIf="dist.teachers_enabled == null" [checked]="false" (click)="edit($event, 'teachers_enabled', !(legacy.checked))"></ion-toggle>
        <ion-toggle #legacy *ngIf="dist.teachers_enabled != null" [checked]="!dist.teachers_enabled" (click)="edit($event, 'teachers_enabled', !(legacy.checked))"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <a class="danger" (click)="reset()">Reset passes for your school</a><br><br>
        <ion-note>Make sure to have a csv backup before resetting.</ion-note>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <a class="danger" (click)="startFresh()">Start fresh</a><br><br>
        <ion-note>Removes all users from your district. We recommend to do this every school year to avoid charges for former teachers & students.</ion-note>
      </ion-item>
    </ion-list>
  </div>
  
</ion-content>
<div *ngIf="currentPage == 'analytics'">
  <div *ngIf="analytics">
      <ion-footer>
          <ion-toolbar>
            <ion-buttons start>
              <button ion-button (click)="getCSV()">Get CSV</button>
            </ion-buttons>
            <ion-segment [(ngModel)]="analyticsPage">
              <ion-segment-button value="stats">
                Stats
              </ion-segment-button>
              <ion-segment-button value="search">
                Search User
              </ion-segment-button>
            </ion-segment>
            <ion-buttons end>
              <button *ngIf="isAdmin && !viewAsAdmin" ion-button (click)="toggleAdmin()">View Admin</button>
              <button *ngIf="isAdmin && viewAsAdmin" ion-button (click)="toggleAdmin()">View Teacher</button>
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
  </div>
</div>

<div *ngIf="currentPage == 'messages'">
  <ion-footer>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button (click)="clearMessages()">Clear all messages</button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button (click)="sendBack()">Send all students back</button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>
