page-now-teachers {
    .nohistory {
        text-align: center;
        margin-top: 10%;
        color: darkgray
    }
    ion-card-content h1 {
        font-size: 7vh !important
    }
    #admin {
        width: 90%;
        margin-left: 5%;
    }
    .danger {
        color: red;
    }
    * {
        text-decoration: none;
    }
    #menu:hover {
        color: white;
    }
}
